<div mat-dialog-title>
    <h1>{{selectedTable}} Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row" *ngFor="let column of nonActionColumns">
            <mat-form-field appearance="outline">
                <span *ngIf="!column.toLowerCase().includes('date')">
                    <mat-label>{{column}}</mat-label>
                    <input matInput formControlName={{column}}>
                </span>
                <span *ngIf="column.toLowerCase().includes('date')">
                    <input matInput [matDatepicker]="picker" formControlName={{column}}>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </span>
            </mat-form-field>
        </div>


        <!-- <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="first_name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="last_name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_of_birth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Street Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="street_name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput placeholder="Ex. Google" formControlName="state">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. Google" formControlName="city">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>ZipCode</mat-label>
                <input matInput placeholder="Ex. 4" type="number" formControlName="zipcode">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Person Type</mat-label>
                <input matInput placeholder="Ex. 12" formControlName="Person_type">
            </mat-form-field>
        </div> -->
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>